<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="text-center mt-5 mb-5">グループの編集ページ</h1>
        <%= form_with model: @group,url: public_group_path, method: :patch ,local: true do |f| %>
         <div>
            <%= f.label :グループ名 %>
            <%= f.text_field :name, class: 'form-control' %>
         </div>

         <div class="mt-5">
            <%= f.label :紹介文 %>
            <%= f.text_area :introduction, class: 'form-control' %>
         </div>

         <div class="mt-5">
            <%= f.label :グループ画像 %>
            <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
         </div>

         <div>
            <%= f.submit "編集確定", class: 'mt-5 btn btn-info form-control' %>
         </div>
        <% end %>
   </div>
 </div>
