<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">

      <h1 class="text-center">グループの新規作成</h1>
        <%= form_with model: @group,url: public_groups_path ,local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group mt-4">
              <%= f.label :グループ名 %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
    
            <div class="form-group">
              <%= f.label :紹介文 %>
              <%= f.text_area :introduction, class: 'form-control' %>
            </div>
    
            <div class="form-group">
              <%= f.label :グループ画像 %>
              <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
            </div>
    
            <div class="form-group text-center">
              <%= render "layouts/button/blue_button",f: f, text: "新規作成", my3: true %>
            </div>
        <% end %>
    </div>
  </div>
</div>