<h1>募集の編集ページ</h1>

<%= form_with model: @post, url:public_posts_information, method: :patch, class: 'post_edit' do |f| %>
<table>
  <tr>
    <th>ゲーム名</th>
    <td><%= f.text_field :game_name ,value: @post.game_name  %></td>
  </tr>

  <tr>
    <th>募集人数</th>
    <td><%= f.text_field :participate_number, valule: @post.participate_number %></td>
  </tr>

  <tr>
    <th>始める時間</th>
    <td><%= f.text_field :start_time, value: @post.start_time %></td>
  </tr>

  <tr>
    <th>終わる時間</th>
    <td><%= f.text_field :ending_time, valule: @post.ending_time %></td>
  </tr>

  <tr>
    <th>今日のテンション</th>
    <td><%= f.text_field :today_tension, value: @post.today_tension %></td>
  </tr>

  <tr>
    <th>ひとこと</th>
    <td><%= f.text_field :content, value:  @post.content %></td>
  </tr>
</table>

 <%= f.submit "確定", class:'btn btn-info form-control mt-5 mb-5' %>
<% end %>