<div class="container">
  <div class="row">
    <div class='col-md-12 mx-auto'>
      <h1 class="d-flex justify-content-center mt-5 mb-5">今すぐゲーム募集をしよう</h1>
      <%= form_with model: @post, url: public_posts_confirm_path, method: :post do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <table class='table table-borderless'>
          <tr>
            <th>ゲーム名</th>
            <td><%= f.text_field :game_name, autofocus:true, class: 'form-control' %></td>
          </tr>
  
          <tr>
            <th>ゲームのジャンル</th>
            <td><%= f.select :game_genre, options_for_select( Post.game_genres_i18n.invert, selected: params.dig( 'post', 'game_genre' ) ), {}, { class: "form-control" } %></td>
          </tr>
  
          <tr>
            <th>募集人数</th>
            <td><%= f.number_field :participate_number, min:1, max:10, class: "form-control", placeholder: "人数を半角英数で入力" %></td>
          </tr>
  
          <tr>
            <th>始める時間</th>
            <td>
              <%= f.datetime_field :start_time, class:"form-control" %>
            </td>
          </tr>
  
           <tr>
            <th>終わる時間</th>
            <td>
                <%= f.datetime_field :ending_time, class:"form-control" %>
            </td>
          </tr>
  
           <tr>
            <th>今日のテンション</th>
            <td><%= f.select :today_tension, options_for_select(Post.today_tensions_i18n.invert, selected: params.dig('post', 'today_tension') ), {}, { class: "form-control" } %></td>
          </tr>
  
          <tr>
            <th>ひとこと</th>
            <td><%= f.text_area :content, class: 'form-control', rows: 5 %></td>
          </tr>
        </table>
        <%= f.submit "確認画面へ", class:'btn btn-info form-control mt-5 mb-5' %>
      <% end %>
    </div>
  </div>
</div>