<div class="container">
  <div class="row">
    <div class='col-md-12 mx-auto'>

    <h1 class="d-flex justify-content-center mt-5 mb-5">投稿一覧</h1>
    <table class='table'>
      <thead>
        <tr class="table-light">
           <th>ゲーム名</th>
           <th>今日のテンション</th>
           <th>募集人数</th>
           <th>始める時間</th>
           <th>終わる時間</th>
           <th></th>
        </tr>
      </thead>
    
      <% @posts.each do |post|%>
      <tr class="table-light">
        <td><%= post.game_name %></td>
        <td><%= post.today_tension_i18n %></td>
        <td><%= post.participate_number %>人</td>
        <td><%= post.start_time.strftime('%Y/%m/%d/%H:%M') %></td>
        <td><%= post.ending_time.strftime('%Y/%m/%d/%H:%M') %></td>
        <td><%= link_to "詳細へ",public_post_path(post) %></td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>
