<div class="container">
  <div class="row">
    <div class='col-md-12 mx-auto'>

    <h1 class="d-flex justify-content-center mt-5 mb-5">投稿一覧</h1>
    <table class='table table-hover table-inverse'>
      <tr>
         <th>ゲーム名</th>
         <th>今日のテンション</th>
         <th>募集人数</th>
         <th>始める時間</th>
         <th>終わる時間</th>
      </tr>
    
      <% @posts.each do |post|%>
      <tr>
        <td class="table-light"><%= post.game_name %></td>
        <td class="table-light"><%= post.today_tension_i18n %></td>
        <td class="table-light"><%= post.participate_number %>人</td>
        <td class="table-light"><%= post.start_time.strftime('%Y/%m/%d/%H:%M') %></td>
        <td class="table-light"><%= post.ending_time.strftime('%Y/%m/%d/%H:%M') %></td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>
