<div class="container">
  <div class="row">
    <div class='col-md-12 mx-auto'>
    <table class='table'>
    <h1 class="d-flex justify-content-center mt-5 mb-5">募集の詳細</h1>
      <tr class="table-light">
        <th class="col-3">募集者名</th>
        <td class="col-9"><%= @post.player.nickname %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">ゲーム名</th>
        <td class="col-9"><%= @post.game_name %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">募集人数</th>
        <td class="col-9"><%= @post.participate_number%>人</td>
      </tr>
      <tr class="table-light">
        <th class="col-3">始まった時間</th>
        <td class="col-9"><%= @post.start_time.strftime('%Y/%m/%d/%H:%M') %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">終わった時間</th>
        <td class="col-9"><%= @post.ending_time.strftime('%Y/%m/%d/%H:%M') %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">その日のテンション</th>
        <td class="col-9"><%= @post.today_tension_i18n %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">ひとこと</th>
        <td class="col-9"><%= @post.content %></td>
      </tr>
      <tr class="table-light">
        <th class="col-3">いいね</th>
          <% unless @post.player == current_player %>
            <% if @post.favorited_by?(current_player) %>
              <td class="col-3 table-light">
                <%= link_to public_post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %> いいね
                <% end %>
              </td>
            <% else %>
              <td class="col-3 table-light">
                <%= link_to public_post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %> いいね
                <% end %>
              </td>
            <% end %>
          <% else %>
              <td class="col-9table-light">
                ♥<%= @post.favorites.count %>
              </td>
         <% end %>
      </tr>
    </table>
    </div>
    <div class="container">
      <div class="row">
        <div class='col-md-12 mx-auto'>
        <h1 class="d-flex justify-content-center mt-5 mb-5">コメント</h1>

        <table class='table table-hover table-inverse'>
          <% @post.comments.each do |comment| %>
          <tr class="table-light">
            <td><%= comment.player.nickname %></td>
            <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= comment.thought %></td>
            <td><% if comment.player == current_player %>
                <%= link_to "削除", public_post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？"} %><br>
            <% end %>
            </td>
            
          </tr>
          <% end %>
        </table>
        <div>
          <%= form_with model: [@post, @comment], url: public_post_comments_path(@post), method: :post do |f| %>
            <%= f.text_area :thought, class: 'form-control', rows: '5', cols: '10', placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class:'btn btn-info form-control mt-5 mb-5' %>
          <% end %>
        </div>
        <div>
          <% if @post.player.nickname == current_player.nickname %>
            <%= link_to "投稿を編集する", edit_public_post_path(@post), class:'btn bg-success form-control text-white mb-2' %>
            <%= link_to "投稿を削除する", public_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？"} ,class:'btn bg-danger form-control text-white' %>
          <% end %>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>