<h1>募集の詳細</h1>
<table>
  <tr>
    <th>ゲーム名</th>
    <td><%= @post.game_name%></td>
  </tr>
  <tr>
    <th>募集人数</th>
    <td><%= @post.participate_number%>人</td>
  </tr>
  <tr>
    <th>集まったユーザー</th>
    <td></td>
  </tr>
  <tr>
    <th>始まった時間</th>
    <td><%= @post.start_time %></td>
  </tr>
  <tr>
    <th>終わった時間</th>
    <td><%= @post.ending_time %></td>
  </tr>
  <tr>
    <th>その日のテンション</th>
    <td><%= @post.content %></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
</table>
<div>
  <% @post.comments.each do |comment| %>
    <%= comment.player.nickname %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.thought %>
    <% if comment.player == current_player %>
      <%= link_to "削除", public_post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？"} %><br>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment], url: public_post_comments_path(@post), method: :post do |f| %>
    <%= f.text_area :thought, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>