<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
    <h1 class="d-flex justify-content-center mt-5 mb-5">プレイヤー編集</h1>

    <%= form_with model: @player, url: public_player_path, method: :patch do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <table class='table'>
        <tr class="table-light">
          <th>プロフィール画像の変更</th>
          <td><%= f.file_field :profile_image, accept: 'image/*' %></td>
        </tr>
        <tr class="table-light">
          <th>ニックネーム</th>
          <td><%= f.text_field :nickname, class: "form-control" %></td>
        </tr>
        <tr class="table-light">
          <th>プラットフォーム</th>
          <td><%= f.text_field :platform, class: "form-control" %></td>
        </tr>
        <tr class="table-light">
          <th>よくやるゲーム</th>
          <td> <%= f.text_field :addicted_game, class: "form-control" %></td>
        </tr>
        <tr class="table-light">
          <th>ゲームの楽しみ方</th>
          <td><%= f.select :play_style, options_for_select( Player.play_styles_i18n.invert, selected: params.dig( 'player', 'play_style' ) ), {}, { class: "form-control" } %></td>
        </tr>
      </table>
        <div>
          <%= render "layouts/button/blue_button",f: f, text: "確定する", my3: true %>
        </div>
    <% end %>
        
        <div>
          <%= render "layouts/button/red_button", red_btn: "player-confirm" %>
        </div>
      </div>
    </div>
  </div>
</div>