<div class="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <h1 class="d-flex justify-content-center mt-5 mb-5"><%= @player.nickname %>さんのページ</h1>
      <table class="table table">
        <tr class="table-light">
          <th><% if @player.profile_image.attached? %>
                <%= image_tag @player.profile_image,size:"100x100" %>
              <% else %>
               <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
          </th>
          <td><%= @player.last_name + @player.first_name %></td>
        </tr >
        <tr class="table-light">
          <th>プラットフォーム</th>
          <td><%= @player.platform %></td>
        </tr>
        <tr class="table-light">
           <th>はまっているゲーム</th>
           <td><%= @player.addicted_game %></td>
        </tr>
        <tr class="table-light">
          <th>プレイスタイル</th>
          <td><%= @player.play_style_i18n %></td>
        </tr>
        <tr class="table-light">
          <th>フォロー数</th>
          <td><%= link_to public_player_followings_path(@player) do %>
              <%= @player.followings.count %>人
             <% end %>
          </td>
        </tr>
        <tr class="table-light">
          <th>フォロワー数</th>
          <td><%= link_to public_player_followers_path(@player) do %>
                <%= @player.followers.count %>人
              <% end %>
          </td>
        </tr>
      </table>

      <% if @player.nickname == current_player.nickname %>
        <div>
          <%= render "layouts/button/green_button", green_btn: "player-edit", player: @player %>
        </div>
        <div>
          <%= render "layouts/button/blue_index_favorite_button", text: "いいね一覧", player: @player %>
        </div>
      <% end %>
    </div>
  </div>
</div>