<h1><%= @player.nickname %>さんのページ</h1>

<% if @player.profile_image.attached? %>
  <%= image_tag @player.profile_image,size:"50x50" %>
<% else %>
   <%= image_tag 'no_image', size: "50x50" %>
<% end %>
<%= @player.platform %>
<%= @player.addicted_game %>
<%= @player.play_style %>
<%= link_to "プロフィールを編集する", public_player_path(@player.id) %>

 <td><%= link_to public_player_followings_path(@player) do %>
 フォロー数<%= @player.followings.count %>人
 <% end %>
 </td>
 <td><%= link_to public_player_followers_path(@player) do %>
 フォロワー数<%= @player.followers.count %>人
 <% end %>
 </td>