<div class="container">
  <div class="row">
    <div class='col-md-12 mx-auto'>
    <h1>検索結果</h1>
    <table class="table table-hover table-inverse">
      <!--検索対象モデルがplayerの時 -->
      <% if @range == "player" %>
        <tbody>
          <% @player.each do |player| %>
            <tr>
              <th>ニックネーム</th>
              <td><%= player.nickname %></td>
            </tr>
            <tr>
              <th>プラットフォーム</th>
              <td><%= player.platform %></td>
            </tr>
             <tr>
              <th>はまっているゲーム</th>
              <td><%= player.addicted_game %></td>
            </tr>
            <tr>
              <th>ゲームの楽しみ方</th>
              <td><%= player.play_style_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <!--検索対象モデルがplayerではない時(= 検索対象モデルがBookの時) -->
        <tbody>
          <tr>
             <th>ゲーム名</th>
             <th>ゲームのジャンル</th>
             <th>募集人数</th>
             <th>始める時間</th>
             <th>終わる時間</th>
             <th>今日のテンション</th>
             <th>ひとこと</th>
          </tr>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.game_name %></td>
              <td><%= post.game_genre %></td>
              <td><%= post.participate_number %>人</td>
              <td><%= post.start_time.strftime('%Y/%m/%d/%H:%M') %></td>
              <td><%= post.ending_time.strftime('%Y/%m/%d/%H:%M') %></td>
              <td><%= post.today_tension_i18n %></td>
              <td><%= post.content %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
    </div>
  </div>
</div>