<div class="container">
  <div class="row">
    <div class='col-12 mx-auto'>
    <h1 class="text-center m-5">検索結果</h1>
      <table class='table table-hover'>
        <!--検索対象モデルがplayerの時 -->
        <% if @range == "player" %>
        <% @player.each do |player| %>
          <tbody onclick='window.location="<%= public_player_path(player) %>"' role="link">
              <tr class="table-light">
                <th>ニックネーム</th>
                <td><%= player.nickname %></td>
              </tr >
              <tr class="table-light">
                <th>プラットフォーム</th>
                <td><%= player.platform %></td>
              </tr>
               <tr class="table-light">
                <th>はまっているゲーム</th>
                <td><%= player.addicted_game %></td>
              </tr>
              <tr class="table-light">
                <th>楽しみ方</th>
                <td><%= player.play_style_i18n %></td>
              </tr>
              <% if current_player != player %>
                <tr>
                  <td colspan="2">
                    <div class="d-flex justify-content-center">
                    <% if current_player.following?(player) %>
                      <%= link_to "フォロー外す",public_player_relationships_path(player.id), method: :delete, class: "btn btn-info text-center" %>
                    <% else %>
                      <%= link_to "フォローする",public_player_relationships_path(player.id), method: :post, class: "btn btn-success text-center" %>
                    <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>

        <% else %>
          <!--検索対象モデルがplayerではない時(= 検索対象モデルがBookの時) -->
          <tbody class="table table-hover table-inverse">
            <thead>
              <tr class="table-light">
                <th class="col-1">ゲーム名</th>
                <th class="col-1">ジャンル</th>
                <th class="col-1">募集人数</th>
                <th class="col-1">始める時間</th>
                <th class="col-1">終わる時間</th>
                <th class="col-2">今日のテンション</th>
                <th class="col-5">ひとこと</th>
              </tr>
            </thead>
            <% @posts.each do |post| %>
            <tr onclick='window.location="<%= public_post_path(post) %>"' role="link", class="table-light">
              <td><%= post.game_name %></td>
              <td><%= post.game_genre %></td>
              <td><%= post.participate_number %>人</td>
              <td><%= post.start_time.strftime('%m/%d/%H:%M') %></td>
              <td><%= post.ending_time.strftime('%m/%d/%H:%M') %></td>
              <td><%= post.today_tension_i18n %></td>
              <td><%= link_to post.content,public_post_path(post) %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>