<div class="container">
  <div class="row">
    <div class='col-12 mx-auto'>
      <h1 class="text-center m-5">検索結果</h1>
        <!--検索対象モデルがplayerの時 -->
        <% if @range == "player" %>
          <% @player.each do |player| %>
          <table class='table table-hover mb-4'>
            <tbody onclick='window.location="<%= public_player_path(player) %>"' role="link">
              <tr class="table-light">
                <th>ニックネーム</th>
                <td><%= player.nickname %></td>
              </tr >
              <tr class="table-light">
                <th>プラットフォーム</th>
                <td><%= player.platform %></td>
              </tr>
               <tr class="table-light">
                <th>はまっているゲーム</th>
                <td><%= player.addicted_game %></td>
              </tr>
              <tr class="table-light">
                <th>楽しみ方</th>
                <td><%= player.play_style_i18n %></td>
              </tr>
            </tbody>
          </table>

          <% if current_player != player %>
            <% if current_player.following?(player) %>
              <%= link_to "フォロー外す",public_player_relationships_path(player.id), method: :delete, class: "btn btn-info btn-block text-center mb-5" %>
            <% else %>
              <%= link_to "フォローする",public_player_relationships_path(player.id), method: :post, class: "btn btn-success btn-block text-center mb-5" %>
            <% end %>
          <% end %>
        <% end %>
        <% else %>

            <!--検索対象モデルがplayerではない時(= 検索対象モデルがBookの時) -->
        <%= render "layouts/posts", posts: @posts, hover: true %>
        <% end %>
    </div>
  </div>
</div>