 <div class="container">
 <div class="row">
 <div class='col-md-12 mx-auto'>
  <div class="search_form d-flex justify-content-center">
    <%= form_with url: public_search_path, local: true, method: :get  do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['player'], ['Post']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

   <div class="search_form d-flex justify-content-center">
      <%= form_with url: public_search_path, local: true, method: :get  do |f| %>
      <%= f.text_field :word_tag %>
      <%= f.submit "タグ検索", class: "btn btn-primary" %>
    <% end %>
   </div>
    <div class="mt-5">
      <span class="text-left my_post">自分で募集する</span>
      <span class="text-center my_post2">グループ新規作成</span>
      <span class="text-right my_post3">グループ一覧</span>
    </div>

      <div class="icon_layers">
        <%= link_to  new_public_post_path do %>
          <i class="fa-solid fa-users size icon_layers2"></i>
        <% end %>
        <%= link_to new_public_group_path do %>
          <i class="fa-solid fa-plus size icon_layers3"></i>
        <% end %>
        <%= link_to public_groups_path do %>
          <i class="fa-regular fa-address-book size icon_layers4"></i>
        <% end %>
      </div>

    <h2 class="mt-5">今日のテンションで探そう</h2>
    <div class="d-flex justify-content-center-between tension">
      <%= link_to (public_posts_posting_path(value: 0)) do %>
        <i class="fa-regular fa-face-smile-beam size mr-5"></i>
      <% end %>
      <%= link_to (public_posts_posting_path(value: 1)) do %>
        <i class="fa-regular fa-face-smile-wink size ml-5 mr-5"></i>
      <% end %>
      <%= link_to (public_posts_posting_path(value: 2)) do %>
        <i class="fa-regular fa-face-grin-wide size ml-5 mr-5"></i>
      <% end %>
      <%= link_to (public_posts_posting_path(value: 3)) do %>
        <i class="fa-regular fa-face-grin-beam-sweat size ml-5"></i>
      <% end %>
    </div>

    <div class="d-flex justify-content-between tension">
      <span class="icon_layers_text2">とても元気</span>
      <span class="icon_layers_text6">元気</span>
      <span class="icon_layers_text4">普通</span>
      <span class="icon_layers_text5">少し疲れた</span>
    </div>

    <div class="text-center">
      <h2 class="fa-solid fa-gamepad">募集一覧<i class="fa-solid fa-headset"></i></h2>
    </div>


<div class="slider">
  <% @posts.each do |post| %>
    <div>
      <%= link_to public_post_path(post) do %>
        <% if post.player.profile_image.attached? %>
          <%= image_tag  post.player.profile_image,size:"50x50" %>
        <% else %>
          <%= image_tag 'no_image', size: "50x50" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</div>
</div>
<script>
  $('.slider').slick({
    autoplay: false,//自動的に動き出すか。初期値はfalse。
    infinite: true,//スライドをループさせるかどうか。初期値はtrue。
    slidesToShow: 4,//スライドを画面に3枚見せる
    slidesToScroll: 4,//1回のスクロールで3枚の写真を移動して見せる
    prevArrow: '<div class="slick-prev"></div>',//矢印部分PreviewのHTMLを変更
    nextArrow: '<div class="slick-next"></div>',//矢印部分NextのHTMLを変更
    dots: true,//下部ドットナビゲーションの表示
    responsive: [
      {
      breakpoint: 769,//モニターの横幅が769px以下の見せ方
      settings: {
        slidesToShow: 2,//スライドを画面に2枚見せる
        slidesToScroll: 2,//1回のスクロールで2枚の写真を移動して見せる
      }
    },
    {
      breakpoint: 426,//モニターの横幅が426px以下の見せ方
      settings: {
        slidesToShow: 1,//スライドを画面に1枚見せる
        slidesToScroll: 1,//1回のスクロールで1枚の写真を移動して見せる
      }
    }
  ]
  });
</script>
