<div class="container">
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with url: public_search_path, local: true, method: :get  do |f| %>
        <div class="form-group row">
          <div class="col-md-4 my-1">
            <%= f.text_field :word, placeholder:"プレイヤー名やゲーム名", class: "form-control" %>
          </div>
          <div class="col-md-3 my-1">
            <%= f.select :range, options_for_select( Player.searches_i18n.invert, selected: params.dig( 'player', 'search' ) ), {}, { class: "form-control" } %>
          </div>
          <div class="col-md-3 my-1">
            <%= f.select :search, options_for_select( Player.search_selects_i18n.invert, selected: params.dig( 'player', 'search_select' ) ), {}, { class: "form-control" } %>
          </div>
          <div class="col-md-2 my-1">
            <%= render "layouts/button/blue_button",f: f, text: "検索", blue_btn: "my1" %>
          </div>
        </div>
      <% end %>

      <%= form_with url: public_tag_search_path, local: true, method: :get  do |f| %>
        <div class="form-group row">
          <div class="col-md-10 my-1">
            <%= f.text_field :word_tag, placeholder: "ジャンルで検索", class: "form-control" %>
          </div>
          <div class="col-md-2 ">
            <%= render "layouts/button/blue_button",f: f, text: "タグ検索", blue_btn: "my1" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <p class="font-size">自分で募集する</p>
      <%= link_to  new_public_post_path, style: "display:block;" do %>
        <i class="fa-solid fa-users size d-flex justify-content-center"></i>
      <% end %>
    </div>
    <div class="col-md-4">
      <p class="font-size">グループ新規作成</p>
      <%= link_to new_public_group_path, style: "display:block;" do %>
        <i class="fa-solid fa-plus size d-flex justify-content-center"></i>
      <% end %>
    </div >
    <div class="col-md-4">
      <p class="font-size">グループ一覧</p>
      <%= link_to public_groups_path, style: "display:block;" do %>
        <i class="fa-regular fa-address-book size d-flex justify-content-center"></i>
      <% end %>
    </div>
  </div>

  <h2 class="mt-5">今日のテンションで探そう</h2>
  <div class="row">
    <div class="col-md-3">
      <p class="font-size">とても元気</p>
      <%= link_to public_posts_posting_path(value: 0), style: "display:block;" do %>
        <i class="fa-regular fa-face-smile-beam size d-flex justify-content-center"></i>
      <% end %>
    </div>
    <div class="col-md-3">
      <p class="font-size">元気</p>
      <%= link_to public_posts_posting_path(value: 1), style: "display:block;" do %>
        <i class="fa-regular fa-face-smile-wink size d-flex justify-content-center"></i>
      <% end %>
    </div>
    <div class="col-md-3">
      <p class="font-size">普通</p>
      <%= link_to public_posts_posting_path(value: 2), style: "display:block;" do %>
        <i class="fa-regular fa-face-grin-wide size d-flex justify-content-center"></i>
      <% end %>
    </div>
    <div class="col-md-3">
      <p class="font-size">少し疲れた</p>
      <%= link_to public_posts_posting_path(value: 3), style: "display:block;" do %>
        <i class="fa-regular fa-face-grin-beam-sweat size d-flex justify-content-center"></i>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-5">
    <h2 class="fa-solid fa-gamepad">募集一覧<i class="fa-solid fa-headset"></i></h2>
  </div>

  <div class="slider">
    <% @posts.each do |post| %>
      <div>
        <%= link_to public_post_path(post) do %>
          <% if post.player.profile_image.attached? %>
            <%= image_tag  post.player.profile_image,size:"50x50" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.slider').slick({
    autoplay: false,//自動的に動き出すか。初期値はfalse。
    infinite: true,//スライドをループさせるかどうか。初期値はtrue。
    slidesToShow: 4,//スライドを画面に3枚見せる
    slidesToScroll: 4,//1回のスクロールで4枚の写真を移動して見せる
    prevArrow: '<div class="slick-prev"></div>',//矢印部分PreviewのHTMLを変更
    nextArrow: '<div class="slick-next"></div>',//矢印部分NextのHTMLを変更
    dots: true,//下部ドットナビゲーションの表示
    responsive: [
      {
      breakpoint: 769,//モニターの横幅が769px以下の見せ方
      settings: {
        slidesToShow: 2,//スライドを画面に2枚見せる
        slidesToScroll: 2,//1回のスクロールで2枚の写真を移動して見せる
      }
    },
    {
      breakpoint: 426,//モニターの横幅が426px以下の見せ方
      settings: {
        slidesToShow: 1,//スライドを画面に1枚見せる
        slidesToScroll: 1,//1回のスクロールで1枚の写真を移動して見せる
      }
    }
  ]
  });
</script>