<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table class="table　borderless mt-5">
   <tr>
     <td>名前</td>
     <td>（姓）</td>
     <td><%= f.text_field :last_name, autofocus: true %></td>
     <td>（名）</td>
     <td><%= f.text_field :first_name %></td>
   </tr>

    <tr>
     <td>ニックネーム</td>
     <td><%= f.text_field :nickname, autofocus: true %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr>
     <td>プラットフォーム</td>
     <td><%= f.text_field :platform, autofocus: true %></td>
    </tr>

    <tr>
     <td>はまっているゲーム</td>
     <td><%= f.text_field :addicted_game, autofocus: true %></td>
    </tr>

    <tr>
     <td>ゲーム楽しみ方</td>
     <td><%= f.select :play_style, options_for_select([["エンジョイ","enjoy" ], ["キルムーブ","kill_move" ],  ["順位優先","rank_priority" ], ["ハイド","hide" ]]) %></td>
    </tr>

    <tr>
      <td>パスワード（6文字以上）</td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <tr>
      <td>パスワード（確認用）</td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
   </tr>
  </table>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
