<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="row">
      <div class='col-md-12 mx-auto'>
      <table class="table table mt-5">
        <tr>
          <th>名前</th>
          <td>（姓）<%= f.text_field :last_name, autofocus: true, class: "form-control" %></td>
          <td>（名）<%= f.text_field :first_name ,class:"form-control"%></td>
         </tr>

        <tr>
           <th>ニックネーム</th>
           <td><%= f.text_field :nickname, autofocus: true , class: "form-control" %></td>
         </tr>

         <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %></td>
          </tr>

          <tr>
            <th>プラットフォーム</th>
            <td><%= f.text_field :platform, autofocus: true, class: "form-control"  %></td>
          </tr>

          <tr>
            <th>はまっているゲーム</th>
            <td><%= f.text_field :addicted_game, autofocus: true , class: "form-control" %></td>
          </tr>

          <tr>
            <th>ゲーム楽しみ方</th>
            <td><%= f.select :play_style, options_for_select( Player.play_styles_i18n.invert, selected: params.dig( 'player', 'play_style') ), {}, { class: "form-control" } %></td>
          </tr>

          <tr>
            <th>パスワード（6文字以上）</th>
            <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
          </tr>

          <tr>
            <th>パスワード（確認用）</th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %></td>
         </tr>
       </table>

       <div class="form-group text-center">
          <div class="actions">
          <%= f.submit "新規登録", :class => "btn btn-primary" %>

        <div class="form-group text-center">
          <div class="actions">
            <h4 class="mb-5 mt-5">会員登録がお済な方は</h4>
            <h5><%= render "public/shared/links" %></h5>
          </div>
        </div>
    </div>
 </div>
<% end %>


