<div class="container">
  <div class="row">
    <div class='col-12 mx-auto'>
      <h1 class="text-center m-5">検索結果</h1>
        <table class="table table-hover table-inverse">
          <thead>
            <tr class="table-light">
              <th class="col-1">募集者名</th>
              <th class="col-1">ゲーム名</th>
              <th class="col-1">ジャンル</th>
              <th class="col-1">募集人数</th>
              <th class="col-1">始める時間</th>
              <th class="col-1">終わる時間</th>
              <th class="col-2">今日のテンション</th>
              <th class="col-4">ひとこと</th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tr onclick='window.location="<%= public_post_path(post) %>"' role="link", class="table-light">
            <td><%= post.player.nickname %></td>
            <td><%= post.game_name %></td>
            <td><%= post.game_genre %></td>
            <td><%= post.participate_number %>人</td>
            <td><%= post.start_time.strftime('%m/%d/%H:%M') %></td>
            <td><%= post.ending_time.strftime('%m/%d/%H:%M') %></td>
            <td><%= post.today_tension_i18n %></td>
            <td><%= link_to post.content,public_post_path(post) %></td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>