<!DOCTYPE html>
<html>
  <head>
    <title>GameCommunity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
    <script src="https://kit.fontawesome.com/5c4a1fefd6.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div class="notice">
      <% if flash[:notice] %>
       <%= flash[:notice] %>
      <% end %>
    </div>

    <div class="alert2">
      <% if flash[:alert] %>
       <%= flash[:alert] %>
      <% end %>
    </div>

    <%= render "layouts/header"%>


    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
